<form>
  <fieldset>
    <div class="container">
      <div class="row my-5">
        <div class="col-sm-6">
          <img src="https://i.imgur.com/w8LhMxi.png" style="width:200px;height:200px;">
        </div>
        <div class="form-group mx-2">
          <label for="exampleInputPassword2">Comfim Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Comfim Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">

        </div>
                  <button type="submit" class="btn btn-primary my-4" style="width:100px;height:50px;">log in</button>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <!-- video goes here -->
        </div>
        <div class="col-sm-3">
          <legend>Create An Accoutn</legend>
          <div class="form-group row">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" <br>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">zip code</label>
            <input type="zipcode" class="form-control" id="zipcodeImput" aria-describedby="zipcode Help" placeholder="Enter zip code">
            <small id="emailHelp" <br>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Comfim Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary"> Create Account</button>
</form>
</div>
</div>
</div>
<br/>
